.encab
{
	background-color: blue;
	color: white;
	font-size: medium;
}

.filaimpar
{
	font-size: small;
	font-family: Arial;
	background-color: whitesmoke;
}

.filapar
{
	font-size: small;
	font-family: Arial;
	background-color:floralwhite;
}

.marcafila
{
	background-color:#CCCCFF;
}