@page {
  margin: 0;
}

body {
  margin-top: 3.5cm;
  margin-bottom: 1cm;
	margin-left: 3.5cm;
  font-family: sans-serif;
	text-align: justify;
}

div.header,
div.footer {
  position: fixed;
  background: #ddd;
  width: 100%;
  border: 0px solid #888;
  overflow: hidden;
  padding: 0.1cm;
}

div.leftpane {
	position: fixed;
	background: #ddd;
	width: 3cm;
	border-right: 1px solid #888;
	top: 0cm;
  left: 0cm;
	height: 30cm;
}

div.header {
  top: 0cm;
	left: 0cm;
  border-bottom-width: 1px;
  height: 3cm;
}

div.footer {
  bottom: 0cm;
	left: 0cm;
  border-top-width: 1px;
  height: 1cm;
}

div.footer table {
  width: 100%;
  text-align: center;
}

hr {
  page-break-after: always;
  border: 0;
}
